pytorch==1.8.1+cu102
transformers==3.4.0
pandas==1.3.5
gensim==3.8.3
skilt-learn==1.0.2
jieba==0.39
transformers==3.4.0
paddleocr>=2.0.1
lanms-neo==1.0.2
PyMuPDF==1.19.0
PaddlePaddle
shapely
scikit-image
imgaug
pyclipper
lmdb
tqdm
numpy
visualdl
rapidfuzz
opencv-python
opencv-contrib-python
cython
lxml
premailer
openpyxl
attrdict
Polygon3